# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Directorios de dependencias
node_modules/

# Archivos de editor
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp
